a {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: groove;
  border-color: olive;
}

a:hover {
  background-color: darksalmon;
}

header {
  background-color: bisque;
  text-align: center;
}

nav {
  padding: 10px;
}

main {
  background-color: olive;
  text-align: center;
  padding: 20px;
}

main ~ footer {
  background-color: cadetblue;
  text-align: center;
  padding: 5px;
}
