html {
  background-color: rgb(83, 192, 83);
}

body {
  font-size: 15;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  padding: 1rem;
  margin: 1rem;
  border-style: solid;
  border-color: brown;
  border-width: 0.5rem;
  background-color: darksalmon;
  text-align: center;
  width: min-content;
  height: fit-content;
}

p {
  width: fit-content;
}
